<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  </head>

  <body>
    
    
    <div class="intro-header">    
      <div class="container">
        <div class="post-heading">
            <h1>{{page.title}}</h1>
            <span class="meta">Escrito por: <a href="{{ site.baseurl }}/"> {{page.author}}
            </a> el {% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d" }} de 
                  {% case m %}
                    {% when '1' %}enero
                    {% when '2' %}febrero
                    {% when '3' %}marzo
                    {% when '4' %}abril
                    {% when '5' %}mayo
                    {% when '6' %}junio
                    {% when '7' %}julio
                    {% when '8' %}agosto
                    {% when '9' %}setiembre
                    {% when '10' %}octubre
                    {% when '11' %}noviembre
                    {% when '12' %}diciembre
                  {% endcase %}
                  de {{ page.date | date: "%Y" }}
            <a href="{{ site.baseurl }}/blog"> Volver al blog</a>
            </span>
        </div>
            
      </div>
    </div>
    

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <div class="svg-icon">
          {% include svg-icons.html %}
            </div>
        </footer>
      </div>
    </div>


    {% include analytics.html %}
  </body>
</html>
